{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block content %}
  <article>
    <header>
      <h1>{{ article.title }}</h1>
      {% if article.categories|length > 0 %}
        <div class="mb-2">
          {% for category in article.categories %}
            <a href="{{ path('articles_categories_show', { id: category.id }) }}" class="badge badge-secondary">
              {{ category.title }}
            </a>
          {% endfor %}
        </div>
      {% endif %}
    </header>
    <main>
      {{ article.content|nl2br }}
    </main>
    <hr>
    <footer>
      <h4>{{ 'heading.article.comments'|trans({ '%count%': article.comments|length }) }}</h4>
      {% for comment in article.comments %}
        <div class="card mb-3">
          <div class="d-flex">
            <div class="p-3">
              <img
                src="https://avatars.dicebear.com/api/identicon/{{ [comment.fullName, comment.email]|filter(v => v is not null)|join('') }}.svg"
                width="80px"
                height="80px"
              >
            </div>
            <div class="flex-fill">
              <div class="card-body">
                <main>{{ comment.content|nl2br }}</main>
                <hr>
                <footer>
                  <span class="text-muted">
                    {{ 'article_comment.written_by'|trans({
                      '%fullName%': comment.fullName ?? 'Anonymous',
                      '%at%': comment.createdAt|format_datetime()
                    }) }}
                    <a href="{{ path('show_comment', { id: comment.id }) }}">{{ 'article_comment.link'|trans }}</a>
                  </span>
                </footer>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}

      <h5>{{ 'heading.article.write_comment'|trans }}</h5>
      <div class="card">
        <div class="card-body">
          {{ render(controller('App\\Controller\\ArticleCommentController::form', { id: article.id })) }}
        </div>
      </div>
    </footer>
  </article>
{% endblock %}
